/**/

html,body {
  background: rgb(41, 14, 114);
  height: 100%;
}

.out {
  border: solid 1px rgb(20, 238, 20);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: rgb(89, 32, 194);
}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▶";
  color: red;
}
